.App {
  display: flex;
}

.content {
  flex-grow: 1; 
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 70px;
  background-color: white;
  border-right: 1px solid lightgray;
  transition: width 0.5s;
  padding: 50px 0px 0px 0px; 
}

.icon-text {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.icon-text:hover {
  background-color: transparent;
  width: 200px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.hide {
  display: none;
  color: gray;
}

.icon-text:hover .hide {
  display: block;
}

.home-icon,
.profile-icon,
.projects-icon {
  color: gray;
}

.icon-text:hover .home-icon,
.icon-text:hover .profile-icon,
.icon-text:hover .projects-icon {
  color: green;
}

.space {
  flex-grow: 1;
}

.github-icon, .linkedin-icon {
  color: gray;
}

.icon-text:hover .github-icon, .icon-text:hover .linkedin-icon {
  color: blue;
}

/* HOME */

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.blog-title {
  text-align: center;
  color: #333;
}

.blog-title h1 {
  font-size: 2em;
}

.blog-title p {
  font-size: 1em;
  text-align: center;
  padding: 20px 100px 10px 100px;
}

.blog-description,
.about-author {
  width: 80%;
  margin: 20px auto;
  text-align: justify;
  color: #666;
}

.recent-posts {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories,
.social-media,
.subscribe-email {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  width: 80%;
  margin: 20px auto;
}


/* ./Search.css */
.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
}

.search input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 0.5px solid #bbb;
  margin-right: 10px;
}

.search button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  background-color:  gray; 
  color: #f3efef;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.search button:hover {
  background-color: green; 
}

/* CSS for Contact component */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.contact-icon {
  margin-right: 10px;
  color: #333;
}

.profile-content {
  width: 80%;
  margin: 0 auto;
}

/* CSS PROFILE */

.profile-content h1, .profile-content h2 {
  color: #333;
}

.profile-content p, .profile-content li {
  color: #666;
  margin-bottom: 10px;
}

.profile-content a {
  color: blue;
}

/** ProjectCard.css **/

.project-card {
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
}

.project-card-img {

  display: flex;
  width: 33%;
  height: 200px;
  object-fit: cover;
  border-color: #bbb;
  border-radius: 5px; 
}

.project-card-desc {
  display: flex;
  padding: 10px 0;
  color: #333;
  text-align: center;
}

/** Projetos.css **/
.projects-page {
  display: flex;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px  10px 10px;
}

.projects-list-search, .projects-list-other {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
}

.project-card-title {
  text-align: left;
}

.artigos{
  border-width: 10px; /* 20% não é suportado em bordas, ajustar conforme necessidade */
  padding: 3%;
}

.file-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.read-more {
  background-color: white;
  width: 100px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.project-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card-description.expanded {
  -webkit-line-clamp: unset;
}